<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jobs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <style>
        .img_logo {
            padding-left: 15px;
        }

        .color-blue {
            color: #346abb !Important;
        }
    </style>
</head>
<body>
    <div id="main-wrapper" class="our-agents-content">

        <!-- HEADER -->
        <header id="header">
            <div class="header-top-bar">

                <!--
                HEADER TOP BAR WITH NOTIFICATION FOR REGISTER USER
                -->
                <!--
                END HEADER NOTIFICATION TOP BAR
                -->
                <!--
                HEADER TOP BAR FOR NON REGISTER USER
                -->

                <div class="header-notification-bar">
                    <div class="non-register-user">

                        <div class="container">
                            <div class="row">

                                <div class="col-md-3 col-sm-3">
                                    <div class="logo-section">
                                        <img class="img_logo" src="~/Images/Logo.png" runat="server" />
                                    </div>
                                </div>

                                <div class="col-md-9 col-sm-9">
                                    <div class="notification-section text-right">

                                        <ul class="list-inline">
                                            @*<li>
                                                    <a href="#">EN<i class="fa fa-caret-down"></i></a>
                                                    <ul>
                                                        <li><a href="#">DE</a></li>
                                                        <li><a href="#">ES</a></li>
                                                        <li><a href="#">IT</a></li>
                                                    </ul>

                                                </li>*@
                                            @Html.Partial("_LoginPartial")
                                        </ul>
                                    </div>
                                </div>

                            </div> <!-- end .row -->
                        </div> <!-- end .container -->
                    </div> <!-- end .visitors-top-bar -->
                </div> <!-- end. header-notification-bar  -->
                <!--
                END HEADER TOP BAR FOR WITHOUT LOGIN USER
                -->
                <!-- Navigation -->
                <div class="main-navbar">

                    <nav class="navbar navbar-default">
                        <div class="container">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @*<a class="navbar-brand" href="index.html"><img src="img/logo-bu.png" alt=""></a>*@
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="index.html">Inicio</a></li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Empleos
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="job-search.html">Busqueda</a></li>
                                            <li><a href="job-preview.html">Vista Previa</a></li>
                                            <li><a href="job-registration(full-width).html">Registro</a></li>
                                            <li><a href="job-registration(sidebar).html">Registro (sidebar)</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Candidatos
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="candidate-profile.html">Perfiles</a></li>
                                            <li><a href="candidate-registration.html">Registro</a></li>
                                            <li><a href="professionals.html">Profesionales</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Empresas
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="clients.html">Empresas</a></li>
                                            <li><a href="add-client.html">Nueva Empresa</a></li>
                                            <li><a href="client-profile(tab1).html">Perfil</a></li>
                                            <li><a href="client-profile(tab3).html">Aplicantes</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Agentes de RRHH
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="our-agents.html">Nuestros Agentes</a></li>
                                            <li><a href="agent-profile.html">Perfil</a></li>
                                            <li><a href="add-agents.html">Agregar Agente</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contacto</a></li>
                                    <li><a href="@Url.Action("Management", "Home")">Administración</a></li>
                                </ul>

                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container -->
                    </nav>
                </div> <!-- main-navbar -->
                <!-- end .header-top-bar -->
            </div>


        </header>
        <!-- end #header -->
        <!-- header Search bar -->
        <!-- end .header-banner -->
        <!-- Page Content -->
        <div id="page-content">
            @RenderBody()

        </div>

        <!-- Footer Start -->
        <footer id="footer">
            <div class="copyright">
                <div class="container">
                    <p>2019 &copy; Todos los derechos reservados <a href="https://twitter.com/NicolasMBlasco">NicolasMBlasco</a></p>

                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        @Html.ActionLink("Asesores", "LoginAgent", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </ul>
                </div>
            </div>
        </footer>
        <!-- end #footer -->

    </div>
    <!-- Progress Loader -->
    <div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
        <p style="position: absolute; color: White; top: 35%; left: 45%;">
            <img src=@Url.Content("~/Images/loading.gif") alt="Loading...">
        </p>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
