<aside>
    <div class="white-container mb0">

        <div class="widget sidebar-widget jobs-filter-widget">
            <h5 class="widget-title">CONFIGURACIÓN</h5>

            <div class="widget-content">
                <h6>Referidos al Empleo</h6>

                <div>
                    <ul class="filter-list">
                        <li><a href="@Url.Action("Index", "Categories")">Categorías <span>(Areas)</span></a></li>
                        <li><a href="@Url.Action("Index", "Knowledge")">Conocimientos </a></li>
                        <li><a href="@Url.Action("Index", "Software")">Programas Informaticos </a></li>
                        <li><a href="@Url.Action("Index", "BusinessSectors")">Sectores de la Empresa </a></li>
                        <li><a href="@Url.Action("Index", "SubCategories")">SubCategorías <span>(Cargos)</span></a></li>

                    </ul>

                    <a href="#" class="toggle"></a>
                </div>

                <h6>Referidos al Candidato</h6>

                <div>
                    <ul class="filter-list">
                        <li><a href="@Url.Action("Index", "DrivingCategories")">Categorias de Conducir</a></li>
                        <li><a href="@Url.Action("Index", "CivilStatus")">Estado Civil </a></li>
                        <li><a href="@Url.Action("Index", "Languages")">Idiomas</a></li>
                        <li><a href="@Url.Action("Index", "Cities")">Localidades</a></li>
                        <li><a href="@Url.Action("Index", "StudiesLevel")">Nivel de Estudios</a></li>
                        <li><a href="@Url.Action("Index", "LanguageLevel")">Niveles de Idioma</a></li>
                        <li><a href="@Url.Action("Index", "Countries")">Paises</a></li>
                        <li><a href="@Url.Action("Index", "Regions")">Regiones</a></li>
                        <li><a href="@Url.Action("Index", "IdentificationType")">Tipo de Indentificación </a></li>
                    </ul>

                    <a href="#" class="toggle"></a>
                </div>


            </div>
        </div>
    </div>
</aside>
